<app-nav></app-nav>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Vinos de Calidad</title>
    
</head>
<body>
<main>
    <h1>Bienvenido </h1>
    <p>En Vinos de Calidad, nos dedicamos a ofrecerte una selección única de vinos que satisfarán incluso a los paladares más exigentes. Nuestros vinos son cuidadosamente seleccionados de las mejores bodegas y viñedos de todo el mundo.</p>

    <p>Explora nuestra colección y encuentra el vino perfecto para cada ocasión. Desde tintos robustos hasta blancos refrescantes, tenemos algo para todos los amantes del vino.</p>

    <p>¿Por qué elegir Vinos de Calidad?</p>
    <ul>
        <li>Selección cuidadosa de los mejores vinos.</li>
        <li>Envío rápido y seguro a tu puerta.</li>
        <li>Experiencia de compra fácil y segura.</li>
        <li>Asesoramiento personalizado para encontrar el vino ideal.</li>
    </ul>

    <p>No pierdas la oportunidad de disfrutar de momentos inolvidables con nuestros exquisitos vinos. ¡Explora nuestra tienda ahora!</p>

    <a href="#" class="cta-button">Explorar Vinos</a>
</main>

</body>
</html>
